<ul>
  <% todos.forEach(todo => { %>
    <li>
      <form action="/complete/<%= todo._id %>" method="GET" style="display:inline;">
        <input type="checkbox" onchange="this.form.submit()" <%= todo.isCompleted ? 'checked' : '' %>>
      </form>
      <%= todo.task %>
      <% if(todo.image){ %>
        <img src="/uploads/<%= todo.image %>" width="40">
      <% } %>
      <form action="/edit/<%= todo._id %>" method="POST" style="display:inline">
        <input type="text" name="task" required>
        <button type="submit">Edit</button>
      </form>
      <a href="/delete/<%= todo._id %>">Delete</a>
    </li>
  <% }) %>
</ul>